services:
  api:
    build:
      context: ./api
      dockerfile: ../Dockerfile.api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./api/data:/app/data
    ports:
      - "3131:8080"
    environment:
      - GIN_MODE=release

  web:
    build:
      context: ./web
      dockerfile: ../Dockerfile.web
      args:
        - NEXT_PUBLIC_API_URL=https://api.orchestro.timuzkas.xyz
    ports:
      - "8181:3000"
    depends_on:
      - api
